<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511727843222-qm7fion2dtbqtu6ep11lv6lfqvejlmqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511727843222-qm7fion2dtbqtu6ep11lv6lfqvejlmqd</string>
	<key>API_KEY</key>
	<string>AIzaSyA7zOzNa4AZW8XKJN5IiNSz-d6H7UdPoCc</string>
	<key>GCM_SENDER_ID</key>
	<string>511727843222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.clairedonovan.Hackathon</string>
	<key>PROJECT_ID</key>
	<string>scheduletracker-7da9d</string>
	<key>STORAGE_BUCKET</key>
	<string>scheduletracker-7da9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:511727843222:ios:cc6bcf5c0ee681d86d0fb7</string>
	<key>DATABASE_URL</key>
	<string>https://scheduletracker-7da9d.firebaseio.com</string>
</dict>
</plist>
